* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 20px;
}
body * {
    border: 2px solid #f36046;
    border-radius: 4px;
}
header,footer{
    height: 200px;
}
main {
    height: calc(100vh - 440px);
}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 600px) {
    
}