$border-clr: #f36046;
$bg-clr: #fefafa;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    padding: 20px;
    background-color: $bg-clr;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 100px 100px 1fr 100px;

    * {
        padding: 20px;
        background-color: white;
        border: 2px solid $border-clr;
        border-radius: 5px;
    }

    header, footer {
        grid-column: span 3;
    }
    .sidebar {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }
    .ads {
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        grid-template-columns: minmax(200px, 1fr) 2fr;
    
        header, nav {
            grid-column: span 2;
        }
        .sidebar {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
        }
        main {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1;
        }
        .ads {
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
        }
        footer {
            grid-column: 2 / span 1;
            grid-row: 4 / span 1;
        }
    }   
}

@media only screen and (max-width: 600px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 100px) 1fr repeat(3, 100px);

        .sidebar, main, .ads, footer, header, nav {
            grid-column: span 1;
            grid-row: span 1;
        }
    }   
}