@use "sass:map";

$colors:(
    "Primary" : (
        "B200": #0084F8,
        "D400": #001B36,
        "White": #FFFFFF,
    ),
    "Secondary" : (
        "B100": #58C2F1,
        "R100": #FF8576,
        "G100": #47C2B1,
        "D100": #F0F5F9,
        "D200": #C9D6DF,
        "D300": #52616B,
    ),
);

button {
    outline: none;
    border: none;
    padding: 10px 15px;

    &.primary {
        background-color: map.get($colors, 'Primary', 'B200');
        color: map.get($colors, 'Primary', 'White');
    }
    &.secondary {
        border: 1px solid map.get($colors, 'Primary', 'B200');
        background-color: map.get($colors, 'Primary', 'White');
        color: map.get($colors, 'Primary', 'B200');
    }
    &:disabled {
        background-color: map.get($colors, 'Secondary', 'D200');
        color: map.get($colors, 'Primary', 'White');
    }
    &.success {
        background-color: map.get($colors, 'Secondary', 'G100');
        color: map.get($colors, 'Primary', 'White');
    }
    &.delete {
        background-color: map.get($colors, 'Secondary', 'R100');
        color: map.get($colors, 'Primary', 'White');
    }
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}