$border-clr: #f36046;
$bg-clr: #fefafa;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background-color: $bg-clr;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    * {
        height: 100px;
        padding: 20px;
        background-color: white;
        border: 2px solid $border-clr;
        border-radius: 5px;
    }

}